/* CSS Document */

/* ================================= 
  Normalize
==================================== */

* {
	margin: 0;
}
/* ================================= 
  Base Element Styles
==================================== */

body {
	font-family: 'Open Sans', Arial, sans-serif;
	background: #fafafa;
}
h1 {
	font-family: 'Hind', sans-serif;
	color: #4a4a4a;
	font-size: 1.7em;
	font-weight: 700;
}
h2 {
	font-size: 1.1em;
	font-weight: 600;
	color: #333;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
	color: #4a4a4a;
}
p {
	line-height: 1.6em;
}
.hero {
	color: peru;
}
.contact {
	color: #7f7f7f;
}
.anchor {
	display: block;
	text-transform: uppercase;
	font-size: 0.95em;
	font-weight: bold;
	text-align: center;
}
/* ================================= 
 Layout Containers
==================================== */

header, .hero, .container, .contact, footer {
	padding-left: 1em;
	padding-right: 1em;
}
/* ---- Name ---- */
.name a {
	text-align: center;
	display: block;
	padding: 25px 0;
}
/* ---- Navigation ---- */
.main-nav a {
	display: block;
	text-align: center;
	padding: 10px 0;
	background: #fff;
	margin-bottom: 5px;
	text-transform: uppercase;
	font-size: .9em;
	font-weight: bold;
}
/* ---- Hero ---- */
.hero {
	padding-top: 35px;
	padding-bottom: 45px;
	text-align: center;
}
.img-hero {
	max-width: 71.4%;
	padding-bottom: 30px;
}
/* ----- Container ---- */
.container {
	background: #fff;
	margin: 0 auto;
}
.container .anchor {
	padding: 50px 0;
}
.portfolio {
	text-align: center;
	padding-bottom: 40px;
}
.portfolio img {
	padding-bottom: 20px;
	margin: 0 auto;
	max-width: 100%;
}
.portfolio h2 {
	font-size: 1.1em;
	padding-bottom: 15px;
}
.portfolio p {
	font-size: 0.9em;
	padding: 0 10px;
}
/* ----- Skills -----*/

.skills {
	text-align: center;
	width: 320px;
	margin: 0 auto;
	color: #4a4a4a;
}
.skills h2 {
	padding: 20px 0;
}
.skills table {
	width: 200px;
	margin: 0 auto;
}
.col1 {
	text-align: right
}
.col2 {
	text-align: left;
}
.skills td {
	padding: 10px;
}
.skill {
	background-color: #4a4a4a;
	padding: 5px 0 5px 5px;
	color: white;
}
.one {
	padding-right: 70px;
}
.two {
	padding-right: 50px;
}
.three {
	padding-right: 20px;
}
/* ----- Contact ---- */
.contact {
	padding-bottom: 40px;
	text-align: center;
}
.contact .anchor {
	padding: 65px 0 40px;
}
.contact-text {
	margin-bottom: 35px;
}
.number {
	margin-bottom: 20px;
}
/* ----- Footer  ---- */
.footer-container {
	font-size: .8em;
	font-weight: bold;
	border-top: 1px solid #e7e7e7;
	padding-top: 28px;
	padding-bottom: 28px;
}
.footer-name {
	float: left;
}
.backtotop {
	float: right;
	text-transform: uppercase;
}
.footer-nav {
	display: none;
}
/* Float Clearfix
================================ */

.clearfix:after {
	content: " ";
	display: table;
	clear: both;
}

@media (min-width: 768px) {
header, .hero, .container, .contact, footer {
	padding-left: 1.875em;
	padding-right: 1.875em;
}
/* ---- Name ---- */
	
.name a {
	padding: 50px 0 10px 0;
}
/* ---- Navigation ---- */
	
.main-nav {
	text-align: center;
}
.main-nav li {
	display: inline-block;
}
.main-nav a {
	padding: 20px 35px;
	background: #fafafa;
}
/* ---- Hero ---- */
	
.hero {
	padding: 0px;
	margin-top: 40px;
	margin-bottom: 20px;
}
.hero-text-container {
	float: left;
	max-width: 54%;
}
.hero-text-container p {
	text-align: left;
	font-size: 1.2em;
	padding-left: 1.875em;
}
.img-hero-container {
	float: right;
	max-width: 40%;
	padding-right: 1.875em;
}
.img-hero {
	max-width: 100%;
}
/* ----- Container ---- */

.portfolio {
	float: left;
	max-width: 49.2%;
}
.content-1, .content-3, .content-5 {
	margin-right: 1.6%;
}
/* ----- Contact ---- */	
.contact-text {
	max-width: 530px;
	margin: 0 auto 40px;
}
.contact p {
	font-size: 1.2em;
}
/* ----- Footer  ---- */
.footer-nav {
	float: right;
	display: inline-block;
}
.footer-nav li {
	display: inline-block;
}
.footer-nav a {
	padding-left: 25px;
	text-transform: uppercase
}
.backtotop {
	display: none;
}
}

@media (min-width: 1024px) {
body {
	max-width: 1024px;
	margin: 0 auto;
}
/* ----- Name  ---- */

header {
	padding-top: 55px;
	padding-bottom: 55px;
}
.name {
	float: left;
	padding: 0;
}
.name a {
	padding: 0 0 0 30px;
}
/* ----- Navigation  ---- */

.main-nav {
	float: right;
	padding-top: 15px;
}
.main-nav li {
	display: inline-block;
}
.main-nav a {
	padding: 0 30px 0 0px;
}
/* ----- Hero  ---- */	
	
.hero-text-container {
	padding-left: 30px;
	max-width: 51%;
}
.img-hero-container {
	padding-right: 30px;
	max-width: 38%;
}
/* ----- Container  ---- */	

.container {
	padding: 0;
	width: 964px;
	margin-left: 30px;
	margin-right: 30px;
}
.portfolio {
	float: left;
	max-width: 290px;
}
.content-1, .content-4 {
	margin: 0 18px 0 30px;
}
.content-2, .content-5 {
	margin: 0 18px 0 0;
}
}
